.nm-play-list-view
{
    li
    {
        height: @nm-list-item-height;
        line-height: @nm-list-item-height;
        padding: 4px 12px;
        display: flex;

        .icon
        {
            width: 24px;
            height: 24px;
        }

        .text
        {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;;
            white-space: nowrap;
        }
    }
}
