.play-list-view
{
    background: green;

    li
    {
        padding-left: 10px;
        padding-right: 16px;

        width: 100%;
        > span
        {
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;

        }
    }
}
